.artista_nombre{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.artista_foto{
    border-radius: 100vw;
    width: 20rem;
    height: 20rem;
    margin-bottom: 1rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.artista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: rating;
    color: var(--page-bg);
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 100vw;
    width: 4rem;
}

#lista_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    list-style-type: none; /* Remove dots */
}