section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.artista_nombre{
    font-size: 1.2rem;
    margin: .3rem 0;
}

.artista_foto{
    border-radius: 100vw;
}

.artista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}