section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.review{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "portada contenido"
                         "rating usuario"
                         "fecha usuario";
}

.portada{
    grid-area: portada;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contenido{
    grid-area: contenido;
    padding: 0 1rem;
}

.artista{
    font-size: 1.5rem;
    margin: .3rem 0;
}

.review{
    font-size: 1rem;
    margin: .3rem 0;
}

.album{
    font-size: 1.2rem;
    margin: .3rem 0;

}
.fecha{
    grid-area: fecha;
    color: var(--fecha-color);
    font-size: 0.8rem;
    text-align: center;
    margin: .3rem 0;
}

.rating{
    grid-area: rating;
    text-align: center;
    color: var(--page-bg);
    border-radius: 5px;
    padding: .3rem 0;
    margin: .3rem 0;
}

.good_rating{
    background-color: var(--good-rating-bg);
}

.bad_rating{
    background-color: var(--bad-rating-bg);
}

.regular_rating{
    background-color: var(--regular-rating-bg);
}

.usuario{
    grid-area: usuario;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar{
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    max-width: 25px;
    max-height: 25px;
    border-radius: 100vw;
    margin-right: .5rem
} 