#logo{
    background-color: transparent;
    color: none;
    border: none;
    cursor: pointer;
}

nav{
    background-color: var(--elem-bg);
    box-shadow: 0 2px 4px var(--shadow-color);
    color: var(--font-color);
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 3rem;
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar{
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    max-width: 25px;
    max-height: 25px;
    border-radius: 100vw;
} 

#lista_nav{
    display: flex;
    list-style: none;
    width: auto;
    height: 100%;
    justify-content: space-between;
}

#lista_nav li button{
    background-color: var(--elem--bg);
    color: var(--font-color);
    height: 100%;
    border: none;
    cursor: pointer;
    padding: 0 1rem;
    transition: ease 0.3s;
}

#lista_nav li button:hover{
    box-shadow: 0 0 4px var(--shadow-color);
    background-color: var(--hover-buttong-bg);
}

.logout{
    color: var(--bad-rating-bg) !important; 
}

.register, .login{
    color: var(--good-rating-bg) !important;
}