section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
}

.review{
    display: grid;
    grid-template-columns: 1fr 7fr;
    margin-bottom: 1rem;
}

.review-texto{
    margin-top: .5rem;
}

.ti-tex{
    margin-left: 1rem;
    margin-right: 2rem
}

.avatar{
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 100vw;
    margin-right: .5rem;
} 

.fecha{
    grid-area: fecha;
    color: var(--fecha-color);
    font-size: 0.8rem;
    margin: .3rem 0;
}

.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: rating;
    color: var(--page-bg);
    border-radius: 100vw;
    padding: .3rem 0;
    height: 3rem;
    width: 4rem;
    margin-top: .5rem;
}

.likes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heart{
    max-width: 2rem;
    max-height: 2rem;
    margin-right: .5rem;
}

.likes-no{
    text-align: center;
}

.rating-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more_review {
    margin-left: 1rem;
} 

.more_review button{
    background: none;
    cursor: pointer;
    border: 0
}

.more_review button img{
    max-width: 2rem;
    max-height: 2rem;
    height: 100%;
}

.buttons_review{
    display: flex;
    justify-content: space-around;
}