section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info_usuario{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.avatar{
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 100vw;
    margin: 0 1rem;
} 

.fecha{
    grid-area: fecha;
    color: var(--fecha-color);
    font-size: 0.8rem;
    margin: .3rem 0;
}

.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: rating;
    color: var(--page-bg);
    border-radius: 100vw;
    padding: .3rem 0;
    height: 3rem;
    width: 4rem;
}

.review{
    margin-bottom: 1rem;
}

.likes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heart{
    max-width: 2rem;
    max-height: 2rem;
    margin-right: .5rem;
    margin-left: 1rem;
}

.likes-no{
    text-align: center;
}