section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.review{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "portada contenido"
                         "rating usuario"
                         "fecha void";
    padding-right: 10vw;
}

.portada{
    grid-area: portada;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contenido{
    grid-area: contenido;
    padding: 0 1rem;
}

.artista{
    font-size: 1.5rem;
    margin: .3rem 0;
}

.review{
    font-size: 1rem;
    margin: .3rem 0;
}

.album{
    font-size: 1.2rem;
    margin: .3rem 0;
}

.fecha{
    grid-area: fecha;
    color: var(--fecha-color);
    font-size: 0.8rem;
    text-align: center;
    margin: .3rem 0;
}

.rating-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.rating{
    grid-area: rating;
    text-align: center;
    color: var(--page-bg);
    border-radius: 100vw;
    padding: .3rem 0;
    margin: .3rem 0;
    width: 4rem;
    height: 2rem;
}

.usuario{
    grid-area: usuario;
    display: flex;
    align-items: center;
    justify-content: right;
}

.avatar{
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    max-width: 25px;
    max-height: 25px;
    border-radius: 100vw;
    margin-right: .5rem
} 

.avatar_wrapper{
    display: flex;
    align-items: center;
}

.heart {
    transition: fill 0.3s ease;
}

.likes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.likes_button{
    max-width: 2rem;
    max-height: 2rem;
    margin-right: .5rem;
    margin-left: 1rem;
    border: 0;
    background: none;
    cursor: pointer;
}
.likes-no{
    text-align: center;
}

.more_review {
    margin-left: 1rem;
} 

.more_review button{
    background: none;
    cursor: pointer;
    border: 0
}

.more_review button img{
    max-width: 2rem;
    max-height: 2rem;
    height: 100%;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.likes_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}