section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.nombre_album{
    font-size: 1.2rem;
    margin: .5rem 0;
    text-align: center;
}

.rating{
    grid-area: rating;
    text-align: center;
    color: var(--page-bg);
    padding: .3rem 0;
    margin-bottom: .3rem;
    width: 4rem;
    border-radius: 100vw;
}

.album{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}
